version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prod_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - prod_network
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: litestar_app
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/prod_db
      REDIS_HOST: redis
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    networks:
      - prod_network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - prod_network


volumes:
  postgres_data:
  redis-data:

networks:
  prod_network:
