version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prod_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - prod_network
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: litestar_app
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/prod_db
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - prod_network

volumes:
  postgres_data:

networks:
  prod_network:
